body{
    background-image: url("photo.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    

}
h1{
    color:brown;
    text-align: center;
    font-size: 150px;
}
h5{
    color:brown;
    padding-top: 20px;
    text-align:center;
}
button{
    color:black;
    background-color: aqua;
    padding-top: 100px;
    cursor:pointer;
    padding: 30px 30px;
    font-size:15px;
    border-bottom: 0cap;
}
button:hover{
    background-color: aquamarine;
}
div{
    margin-top: 50px;
}